/*****************************************************
 * Magic Mirror 2                                    *
 * Custom CSS for MMM-homeassistant-sensors          *
 *                                                   *
 * By Erik Pettersson                                *
 * MIT Licensed.                                     *
 *                                                   *
 *****************************************************/

.ha-sensors {
    font-size: 15px;
    line-height: 18px;
	font-weight: bold;
	color: #999
}

.ha-icon {
  text-align: right;
  font-size: 20px;
}

.ha-img {
  text-align: right;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.ha-date {
  text-align: left;
}

.ha-time {
  text-align: left;
}

.ha-name {
  text-align: left;
}

.ha-value {
  text-align: right;
}

.ha-unit {
  text-align: left;
}